body{
margin: 0;
padding: 0;
box-sizing: border-box
}
button{
border:none;
outline:none
}
.app-wrapper{
display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
background:linear-gradient(100deg, #292f38 50%, #0f0e17 0);
min-height:100vh;
}
.header{
display: flex;
align-items: center;
position: relative
}
.logo{
color: #fff
}
#switch{
font-size: 1.3rem;
position: absolute;
top: 30px;
right: -85px
}
.container{
display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
color: #fff;
width: 30%
}

/*form section*/

.form-container{
padding: 2rem;
width: 90%;
background-color: #f25f4c;
font-size: 1.2rem
}

form button{
background:#ff8906;
padding: .7rem 2rem;
color: #000
}

.form-group{
display:flex;
flex-direction:column;
margin-bottom:1rem
}
.form-group label{
margin-bottom:.3rem
}
input, select, button{
padding:1rem;
cursor:pointer;
border:none;
outline:none;
font-size:1rem
border-radius:15px;
transition:1s
}
input, select{
background:#fff;
color:#292f38
}
input:focus{
background: #292f38;
color: white	
}

/*buglist section*/
#issuesList{
display:flex;
flex-direction:column-reverse;
gap:1rem;
width:100%
}
.issue{
background:#fffffe;
color:#292f38;
margin:.6rem 0; 
padding:1rem;
border-radius:10px;
font-size:1.3rem
}
.issue h3{
letter-spacing:1px
}
.issue p{
word-break:break-all
}
.issue button{
padding:.7rem;
outline:none;
color:white;
border:none;
margin-right:.5rem
}
.issue .btn1{
background:#ff8906
}
.issue .btn2{
background:#df4759
}
.severity{
font-style:italic
}
.status span{
background: #a7a9be;
padding: .3rem;
color: #fff;
font-size: 1rem
}
.fa-exclamation-triangle{
color: red
}
.fa-edit{
color: #a7a9be;
}

i{
margin-right: 10px
}
.logo i{
animation: rotor 3s linear infinite;
color: red;
}


/*keyframes*/
@keyframes rotor{
from{transform: rotate(0)}
to{transform: rotate(360deg)}
}


/*media queries*/
@media screen and (max-width: 110em){
.container{width:50%}
}
@media screen and (max-width: 90em){
.container{width:70%}
}
@media screen and (max-width: 55em){
.container{width: 92%}
}

